$main-font:'Noto Sans', sans-serif;

html {
    font-family: $main-font;
    box-sizing: border-box;
}

html:not([data-scroll= '0']) {
    header{
        background-color: #fff;
        box-shadow: 0 0.125rem 0.125rem -0.125rem rgba(31, 27, 45, 0.08), 0 0.25rem 0.75rem rgba(31, 27, 45, 0.08);
    }
}

body{
    margin: 0;
}

%button {
    border: 0px solid;
    background-color: #fd5631;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: color .2s ease-in-out,background-color 
    .2s ease-in-out,border-color 
    .2s ease-in-out,box-shadow .2s ease-in-out;
}

%button:hover {
    background-color: #fd390e;
    box-shadow: 0 0.25rem 0.25rem 0.125rem rgba(253, 86, 49, 0.10), 
    0 0.375rem 0.75rem -0.125rem rgba(253, 86, 49, 0.40);
}



header {
    width: 100%;
    height: 4.5rem;
    display: flex;
    background-color: rgba(245, 244, 248, 1);
    top: 0;
    position: fixed;
    z-index: 999;
    transition: background-color .1s ease-in-out,box-shadow .1s ease-in-out;

    .d-block{
        margin-left: 1rem;
    }

}

nav {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0;
        margin-top: 0;
        gap: 2rem; 
        margin-right: auto;
    }

    li{
        text-decoration: none;
        font-size: .875rem;
        font-weight: bold;
        position: relative;
        
        .dropdown-content{
            display: none;
            position: absolute;
            background-color: #fff;
            box-shadow: 0 0.125rem 0.125rem -0.125rem rgba(31, 27, 45,.08), 0 0.25rem 0.75rem rgba(31, 27, 45, .08);
            z-index: 1;
            width: 12rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            border: 1px solid #efecf3;
            border-radius: 0.75rem;
            font-size: 0.875rem;
            color: #666276;
            


            a{
                padding: 6px 16px;
                text-decoration: none;
                display: block;
                transition: color .2s ease-in-out;
            }

            hr{
                width: 90%;
                color: rgba(205, 204, 209, 0.01);
            }
        }
        

        a{
            text-decoration: none;
            color: #454056;

            i{
                font-size: .7rem;
                font-weight: normal;
            }
        }
    }

    .finder-btn{
        @extend %button;
        margin-right: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 1.5rem;
        font-size: 0.875rem;
        
    }

}

.dropdown-content a:hover {color: orangered;}
.with-drop:hover .dropdown-content {display: block;}
.with-drop:hover .demos {color: orangered;}

.features {
    margin-top: 3.5rem;
    background-color: rgba(245, 244, 248, 1);

    h1{
        font-weight: 700;
        font-size: calc(1.475rem + 2.7vw);
        padding-top: 2rem;
        padding-left: 1rem;
        color: #1f1b2d;
    }

    .top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .title{
            img {
                padding-left: 1rem;
            }
        }
    }
    
    .card {
        cursor: pointer;

        img{
            width: 100%;
            transition: transform .3s ease-in-out;
            will-change: transform;
        }

        i {
            color: orangered !important;
        }

        h2 {
            color: #454056;
            transition: color .25s ease-in-out,background-color 
            .25s ease-in-out,box-shadow 
            .25s ease-in-out,border-color .25s ease-in-out;;
        }
        
        #job-available:hover {
            h2{
                color: orangered;
            }

            img{
                transform: scale(1.02, 1.02);
            }
        }
    }

    #card-relative {
        position: relative;
        padding-top: 7rem;
        width: 45%;
    }

    #card-absolute {
        width: 110%;
        position: absolute;
        top: 15rem;
        right: 77%;
        z-index: 10;
    }

    #card-absolute:hover {
        h2{
            color: orangered;
        }

        img{
            transform: scale(1.02, 1.02);
        }
    }
    
    #car {
        float: right;
        width: 50% !important;
        padding-top: 1rem;
        
    }

    #car:hover {
        h2{
            color: orangered;
        }

        img{
            transform: scale(1.02, 1.02);
        }
    }

    #city {
        padding-left: 2rem;
        padding-top: 7rem;
        width: 40%;
    }

    #city:hover {
        h2{
            color: orangered;
        }

        img{
            transform: scale(1.02, 1.02);
        }
    }
}

.feature-list {
    display: grid;
    grid-template-columns: 21% auto auto auto;
    grid-gap: 0.4rem 0.5rem;
    padding-top: 5rem;
    width: 100%;

    .ads{
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 1rem;
        border-radius: 0.75rem;
        transition: border-color .2s ease-in-out,background-color 
        .2s ease-in-out,box-shadow .2s ease-in-out;

        h3 {
            color: #1F1B2D;
        }
        p{
            color: #666276;
            font-size: 14px;
        }

        img {
            width: 3rem;
        }
    }
    .ads:hover {
        box-shadow: 0 0.125rem 0.125rem -0.125rem rgba(31,27, 45, 0.08), 
        0 0.25rem 0.75rem rgba(31, 27, 45, 0.08);
    }

    .ads-intro {
        grid-row: 1/5;
        h2 {
            font-weight: 700;
            padding-left: 1rem;
        }

        img {
            padding-left: 1rem;
            padding-top: 2rem;
        }
    }
   
}

footer {
    height: 100vh;
    width: 100%;
    background-color: #1F1B2D;
    text-align: center;
    color: white;
    position: relative;
    margin-top: 20rem;

    .footer-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 35vh;
        align-items: center;

        h2 {
            font-size: 2rem;
        }

        .form {
            border: 1px solid;
            border-radius: 2.5rem;
            padding: 0.5rem;
            width: 45%;
            display: flex; 
            justify-content: space-between;
            align-items: center;
            background-color: rgba(255,255,255,.04);
            border-color: rgba(255,255,255,.15);

            input {
                padding: 0;
                outline-style: none;
                border: none;
                background-color: transparent;
                padding-left: 1rem;
                color: white;
                width: 60%;
                height: 2rem;
            }

            input::placeholder {
                font-size: 1rem;
                color: #666276;
                padding-top: 5px;
            }

            i{
                color: #666276;
                font-size: 1rem;
                padding-left: 1rem;
            }

            a{
                @extend %button;
                padding: 0.5rem 2rem;
                border-radius: 3rem;
            }
        }
        #first-paragraph{
            font-size: 0.75rem;
            opacity: .7;
            width: 47%;
        }

        #second-paragraph {
            margin: 3rem;
            a{
                color:#fd5631;
                text-decoration: underline;
            }
            
        }
    }

    .overlay {
        position: absolute;
        background-color: rgb(245, 244, 248);
        width: 98%;
        margin-left: 1%;
        height: 60%;
        bottom: 29rem;
        border-radius: 1rem;
        line-height: 2.5rem;

        h3{
            color: #1F1B2D;
            font-size: 1.3rem;
            font-weight: normal;
            margin: 0;
        }

        h2{
            color: #1F1B2D;
            font-size: 2rem;
            margin-top: 0;
            margin-bottom: 3rem;
        }

        a {
            @extend %button;
            padding: 1rem 2.5rem;
            border-radius: 5rem;
            margin-top: 1rem;
        }
        .content {
            padding-top: 10%;
        }
    }
}

@media screen 
and (max-width:800px){
    .feature-list .ads-intro {
        display: none;
    }

    .feature-list {
        grid-template-columns: auto auto auto;
    }

    footer .overlay{
        height: 45%;
        bottom: 35rem;

        h2{
            font-size: 1.5rem;
        }
    }
}

@media screen 
and (max-width:700px){
    nav ul{
        display: none;
    }
}

@media screen 
and (max-width:600px){

    .features{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1{
            text-align: center;
        }
    }

    .feature-list {
        grid-template-columns: auto auto;
    }

    .features .top .title img {
        display: none;
    }

    .features #city {
        width: 100%;
        padding: 0;
    }

    .features #car{
        width: 100% !important;
        padding-top: 45rem;
        padding-left: 10px;
    }

    .features #card-relative{
        position: absolute;
        width: 100%;
    }
    .features .card h2 {
        text-align: center;
    }

    .features #card-absolute {
        top: auto;
        width: 100%;
        right: auto;
    }
}