$main-font:'Noto Sans', sans-serif;

html {
    font-family: $main-font;
    box-sizing: border-box;
}
body{
    margin: 0;
}

%button {
    border: 0px solid;
    background-color: #fd5631;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

header {
    width: 100%;
    height: 3.5rem;
    display: flex;
    background-color: white;
    top: 0;
    position: fixed;
    z-index: 999;

    .d-block{
        margin-left: 1rem;
    }
}

nav {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0;
        margin-top: 0;
        gap: 2rem; 
    }

    li{
        text-decoration: none;
        font-size: .875rem;
        font-weight: bold;
    
        a{
            text-decoration: none;
            color: #454056;
        }
    }

    .finder-btn{
        @extend %button;
        margin-right: 1rem;
        padding: 0.4rem 0.8rem;
        border-radius: 1rem;
        font-size: 0.875rem;
        
    }
}

.features {
    margin-top: 3.5rem;
    h1{
        font-weight: 700;
        font-size: calc(1.475rem + 2.7vw);
        padding-top: 2rem;
        padding-left: 1rem;
        color: #1f1b2d;
    }
    .top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .title{
            img {
                padding-left: 1rem;
            }
        }
    }
    
    .card {

        img{
            width: 100%;
        }

        i {
            color: orangered !important;
        }

        h2 {
            color: #454056;
        }
    }

    #card-relative {
        position: relative;
        padding-top: 7rem;
        width: 45%;
    }

    #card-absolute {
        width: 110%;
        position: absolute;
        top: 15rem;
        right: 77%;
    }
    
    #car {
        float: right;
        width: 55% !important;
        padding-top: 1rem;
    }

    #city {
        padding-left: 2rem;
        padding-top: 7rem;
        width: 40%;
    }
}

.feature-list {
    display: grid;
    grid-template-columns: 21% auto auto auto;
    grid-gap: 3rem 2rem;
    padding-top: 5rem;
    width: 100%;

    .ads{
        display: flex;
        flex-direction: column;
        width: 13rem;

        h3 {
            color: #1F1B2D;
        }
        p{
            color: #666276;
            font-size: 14px;
        }

        img {
            width: 3rem;
        }
    }

    .ads-intro {
        grid-row: 1/5;
        h2 {
            font-weight: 700;
            padding-left: 1rem;
        }

        img {
            padding-left: 1rem;
            padding-top: 2rem;
        }
    }
   
}

footer {
    height: 100vh;
    width: 100%;
    background-color: #1F1B2D;
    text-align: center;
    color: white;
    position: relative;
    margin-top: 20rem;

    .footer-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 35vh;
        align-items: center;

        h2 {
            font-size: 2rem;
        }

        .form {
            border: 1px solid;
            border-radius: 2.5rem;
            padding: 0.5rem;
            width: 45%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: rgba(255,255,255,.04);
            border-color: rgba(255,255,255,.15);

            input {
                padding: .5rem 3rem;
                background-color: transparent;
                border: none

            }

            i{
                color: rgba(255,255,255,.15);
                font-size: 1.375rem;
                padding-left: 1rem;
            }

            a{
                @extend %button;
                padding: 0.5rem 2rem;
                border-radius: 3rem;
            }
        }
        #first-paragraph{
            font-size: 0.75rem;
            opacity: .7;
            width: 47%;
        }

        #second-paragraph {
            a{
                color:#fd5631;
                text-decoration: underline;
            }
            
        }
    }

    .overlay {
        position: absolute;
        background-color: rgb(245, 244, 248);
        width: 98%;
        margin-left: 1%;
        height: 60%;
        bottom: 29rem;
        border-radius: 1rem;
        line-height: 2.5rem;

        h3{
            color: #1F1B2D;
            font-size: 1.3rem;
            font-weight: normal;
            margin: 0;
        }

        h2{
            color: #1F1B2D;
            font-size: 2rem;
            margin-top: 0;
            margin-bottom: 3rem;
        }

        a {
            @extend %button;
            padding: 1rem 2.5rem;
            border-radius: 5rem;
            margin-top: 1rem;
        }
        .content {
            padding-top: 7%;
        }
    }
}